.paginationsBttn {
    width: 80%;
    height: 40px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 40px auto 0 auto;
}


.paginationsBttn a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border:1px solid white;
    color: white;
    cursor: pointer;
}

.paginationsBttn a:hover {
    background-color: grey;
}

.paginationActive a {
   background-color: grey;
}
